<!DOCTYPE html>

<html>

<head>
    <title>Joke experience</title>
</head>

<body>
    <h1>Joke generator</h1>
    <% if(!(locals.content)) { %>
    <h2>Choose type of joke You want to get</h2>
    <% } %>
    <form id="myForm" action="/joke" method="post">
        <input id="anyJoke" type="button" value="Any" name="jokeBtn">
        <input id="miskJoke" type="button" value="Misk" name="jokeBtn">
        <input id="programmingJoke" type="button" value="Programming" name="jokeBtn">
        <input id="darkJoke" type="button" value="Dark" name="jokeBtn">
        <input id="punJoke" type="button" value="Pun" name="jokeBtn">
        <input id="spookyJoke" type="button" value="Spooky" name="jokeBtn">
        <input id="christmasJoke" type="button" value="Christmas" name="jokeBtn">
    </form>

    <% if(locals.content) { %>
        <p> 
            <%= content %>
        </p>
    <% } %>
</body>

</html>