<!DOCTYPE html>

<html lang="ru">
    
<head>
    <meta charset="utf-8">
    <title>Камень-ножницы-бумага</title>

    <link rel="stylesheet" href="main.css">
</head>

<header>
    <% if(!locals.compChosenOpt) { %>
        <h1>Камень-ножницы-бумага</h1>
    <% } else { %> 
        <h1>Результат:</h1>
        <ul class="big-letters">
            <li>Вы выбрали: <%- playerChosenOpt %></li>
            <li>Компьютер выбрал: <%- compChosenOpt %></li>
        </ul>
    <% } %>
</header>